.grid {
  margin: 100px 0 0;
}

.algBtn {
  margin: 30px;
  padding: 10px 15px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: rgba(0, 190, 218, 0.75);
  border: none;
  border-radius: 10px;
}

.algBtn:hover {
  background-color: rgba(17, 104, 217, 0.75);
}

.clearBtn {
  margin: 30px;
  padding: 10px 15px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: rgb(12, 53, 71);
  border: none;
  border-radius: 10px;
}

.clearBtn:hover {
  background-color: rgba(17, 104, 217, 0.75);
}

