.grid {
  margin: 100px 0 0;
}

.algBtn {
  margin: 50px;
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: rgba(0, 190, 218, 0.75);
  border: none;
  border-radius: 10px;
}

.algBtn:hover {
  background-color: rgba(17, 104, 217, 0.75);
}

.style {
  margin: 50px;
  width: 300px;
  color: black;
  background-color: rgba(0, 190, 218, 0.75);
}
